<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Posts List</title>
</head>
<body>
<a href="/create">Create new posts</a>
<h1>Posts</h1>
<table border="1">
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="posts : ${postsList}">
        <tr>
            <td th:text="${posts.title}"></td>
            <td th:text="${posts.content}"></td>
            <td><a th:href="@{/edit/__${posts.id}__ }">Edit</a></td>
            <td><a th:href="@{/delete/__${posts.id}__ }">Delete</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>