<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Posts Manager - Delete</title>
    <link rel="icon" th:href="@{'/res/img/Fevicon.png'}" type="image/png">

    <link rel="stylesheet" th:href="@{'/res/vendors/bootstrap/bootstrap.min.css'}">
    <link rel="stylesheet" th:href="@{'/res/vendors/fontawesome/css/all.min.css'}">
    <link rel="stylesheet" th:href="@{'/res/vendors/themify-icons/themify-icons.css'}">
    <link rel="stylesheet" th:href="@{'/res/vendors/linericon/style.css'}">
    <link rel="stylesheet" th:href="@{'/res/vendors/owl-carousel/owl.theme.default.min.css'}">
    <link rel="stylesheet" th:href="@{'/res/vendors/owl-carousel/owl.carousel.min.css'}">

    <link rel="stylesheet" th:href="@{'/res/css/style.css'}">
</head>
<body>
<!--================Header Menu Area =================-->
<header class="header_area" th:fragment="header-menu">
    <div class="main_menu">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container box_1620">
                <!-- Brand and toggle get grouped for better mobile display -->
                <a class="navbar-brand logo_h" th:href="@{/home}"><img th:src="@{'/res/img/logo.png'}"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <ul class="nav navbar-nav menu_nav justify-content-center">
                        <li class="nav-item active"><a class="nav-link" th:href="@{/home}" th:text="#{layout.home_nav}"></a></li>
                        <li class="nav-item"><a class="nav-link" th:href="@{/home-new-posts}" th:text="#{layout.newsPosts_nav}"></a></li>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false" th:text="#{layout.category_nav}"></a>
                            <ul class="dropdown-menu">
                                <th:block th:each="category : ${categories}">
                                    <li class="nav-item"><a class="nav-link"
                                                            th:href="@{/home-posts-by-category/__${category.id}__ }" th:text="${category.name}"></a></li>
                                </th:block>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="category.html" th:text="#{layout.contact_nav}"></a>
                        <li class="nav-item submenu dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false" th:text="#{layout.loginLogout_nav}"></a>
                            <ul class="dropdown-menu">
                                <li class="nav-item"><a class="nav-link" href="#" th:text="#{layout.signIn_nav}"></a></li>
                                <li class="nav-item"><a class="nav-link" href="#" th:text="#{layout.signOut_nav}"></a></li>
                                <li class="nav-item"><a class="nav-link" href="/posts" th:text="#{layout.managePosts_nav}"></a></li>
                            </ul>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right navbar-social">
                        <li><a href="/posts?lang=en"><img th:src="@{'/res/img/en.png'}" alt="en" width="40px"></a></li>
                        <li><a href="/posts?lang=vi"><img th:src="@{'/res/img/vi.png'}" alt="en" width="40px"></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================Header Menu Area =================-->

<main class="site-main">
    <!--================ Start Blog Post Area =================-->
    <br>
    <h1 style="text-align: center">&ensp;<span th:text="#{posts_delete.title_posts}"></span></h1><br>
    <section class="blog-post-area section-margin mt-4">
        <div class="container">
            <div class="row">
                <!--================ Start Post Gender =================-->
                <div class="col-lg-12">
                    <a th:href="@{/posts}">
                        <button type="button" class="btn btn-outline-info" th:text="#{posts_edit.backToList_lb}"></button>
                    </a>
                    <br><br>
                    <div class="main_blog_details">
                        <form th:action="@{/posts-delete}" th:object="${posts}" th:method="post">
                            <input th:type="hidden" name="id" th:field="*{id}">
                            <img class="img-fluid" th:src="@{'/uploadImage/' + ${posts.image}}" alt="">
                            <a href="#">
                                <h4 th:text="${posts.name}"></h4>
                            </a>
                            <div class="user_details">
                                <div class="float-left">
                                    <div th:if="${lang == 'en'}"> <a href="#" th:text="${posts.category.name}"></a></div>
                                    <div th:unless="${lang == 'en'}"> <a href="#" th:text="${posts.categoryVi.name}"></a></div>
                                </div>
                                <div class="float-right mt-sm-0 mt-3">
                                    <div class="media">
                                        <div class="media-body">
                                            <h5 th:text="${posts.author}"></h5>
                                            <p th:text="${posts.dateCreate}"></p>
                                        </div>
                                        <div class="d-flex">
                                            <img width="42" height="42" th:src="@{'/res/img/blog/user-img.png'}" alt="">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p th:utext="${posts.description}"></p>
                            <div class="news_d_footer flex-column flex-sm-row">
                                <a href="#"><span class="align-middle mr-2"><i class="ti-heart"></i></span><span th:text="#{detail.like_page}"></span></a>
                                <a class="justify-content-sm-center ml-sm-auto mt-sm-0 mt-2" href="#"><span
                                        class="align-middle mr-2"><i class="ti-themify-favicon"></i></span><span th:text="#{index.comments_29}"></span></a>
                                <div class="news_socail ml-sm-auto mt-sm-0 mt-2">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                    <a href="#"><i class="fab fa-dribbble"></i></a>
                                    <a href="#"><i class="fab fa-behance"></i></a>
                                </div>
                            </div>
                            <p style="margin-top: 50px;margin-left: auto;width: 167px;">
                                <button type="submit" class="button submit_btn" th:text="#{posts_delete.delete_btn}"></button>
                            </p>
                        </form>
                    </div>
                </div>
                <!--================ End Post Gender =================-->
                <!-- Start Blog Post Siddebar -->

            </div>
            <!-- End Blog Post Siddebar -->
        </div>
        </div>
    </section>
    <!--================ End Blog Post Area =================-->
</main>

<!--================ Start Footer Area =================-->
<footer th:replace="shared/layout :: footer"/>
<!--================ End Footer Area =================-->

<div th:replace="shared/layout :: script"></div>
<script th:src="@{'/res/ckeditor/ckeditor.js'}"></script>
</body>

</html>